$primary: #0074bc;
$secondary: #0162a3;
$grey: #f1f1f1;
$valid: green;
$cancel: red;



// UX G3

$blue: #0064a6;
$darkBlue: #003366;

$greyBackground: #f3f2f1;
$greyBorder: #e6e6e6;

$border: #D3D3D3;
$text: #282828;
$label: #6F6F6F;

$success: #94C11C;
$warning: #e38100;
$error: #c11c1c;

$disabled: #B2B2B2;

$darkblue: #003366; // Active Main / User menu; Mouse Over Tab
$blue: #0064a6; // Main menu area, Inactive Tab
$keycolor: #0074bc ; // Header area, Links Buttons, Icons
$skyblue: #99c7e4 ; //Highlight Color  
$lightblue: #d6e9f4 ; // Mouse Over Color (e.g. Combo Boxes, Search fields, tables...)

$dark: #282828 ; // Text
$darkgrey: #6f6f6f;  // Labels and Text in Balloon and Tooltip 
$mediumgrey: #b2b2b2 ; //  Disabled text, disabled Icons, watermarks in Input fields  Selected action/icon in a toolbar
$grey: #d3d3d3 ; // All lines and contours
$controlbargrey: #e1e1e1 ; // Control bar ( 70% of) 
$viewmodegrey: #eaeaea ; // Input field background in view mode
$lightgrey: #f4f4f4 ; // Selected tab area divider and overview button
$white: #ffffff ; //Text in Header area or selected topic in the left navigation 

$red : #e3000f ; // Warning color Error balloon, contour of validation in input fields
$yellow: #fbba00 ; // attention color
$green: #94c11c ; // ok color


// primary font
$primary_font: 'Roboto Regular';
$cgm_font: 'CGM G3Symbols 24x22';

// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:10px;
$font-sm: 12px;
$primary-fs: 14px;
$font-md: 18px;
$font-lg: 24px;
$footer: #e9e9e9;
