@import "../../../../variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    height: 8vh;
    color: white;
    .title {
        font-size: 32px;
        font-weight: bold;
    }
    .header-content {
        margin: 1%
    }
}
