<header>
  <div class="header">
      <span class="title header-content">{{title}}</span>
      <div class="header-content">
          <app-date></app-date>
      </div>
      <div class="header-content">
          <!-- <app-toggle-menu label="Profil" [pratician]="pratician"></app-toggle-menu> -->
      </div>
  </div>
</header>
