@import "~variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* You can add global styles to this file, and also import other style files */
/* *  {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
} */

@font-face {
  font-family: 'CGM-G3Symbols';
  src: url('./assets/fonts/CGM-G3Symbols-24x22.ttf')
}


.g3 {
  font-family: 'CGM-G3Symbols'
}

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: "Roboto", sans-serif; color: #282828/* , "Helvetica Neue", sans-serif; */ }
.generic {
    color: white;
    background-color: #0074bc;
}

.error {
  color: $error;
}

.success {
    color: $success;
}
.opt-button{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  // text-transform: capitalize !important;
  text-transform: none !important;
  color: $primary !important;
}

.valid {
    color: $valid
}

.cancel {
    color: $cancel
}

.card-info {
    height: 100%;
    border: 1px solid black;
    padding: none !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.label-panel {
    display: flex;
    align-items: center;
}

.arrow-icon {
    color: $primary
}

::ng-deep mat-focus-indicator mat-icon-button mat-button-base {
    color: $primary !important;
}

.mdc-card {
    border: 1px solid $border
}

.mdc-card-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    height: 56px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #282828;
    align-items: center;
}

.mdc-card-content {
    padding: 12px;
}

button {
    // text-transform: uppercase;
    margin: 12px;
    height: 36px;
    min-width: 120px;
    border-radius: 4px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.mdc-button, .vld-btn, .cel-btn {
    background-color: #B2B2B2;
}
.mdc-button:not([disabled]), .vld-btn:not([disabled]) {
    background-color: $primary;
    color: #FFFFFF;
    &:hover {
        background-color: $darkBlue !important;
    }
}

.cel-btn {
    background-color: #003366;
}

.cel-btn:not([disabled]) {
    color: $primary;
    background-color: white;
    border: 1px solid $primary
}

.centered-btn-text {
  line-height: 15px !important;
  vertical-align: text-top;
}

.label {
    color: $label
}


.value {
    display: flex;
    width: 144px;
}

.text-field {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin: 10px;
    align-items: center;
}

::ng-deep .mat-checkbox-inner-container {
  width: 22px !important;
  height: 22px !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame  {
    border-color: $border !important;
    background-color: white !important;
}

::ng-deep .mat-checkbox-background {
    border-color: $border !important;
}

.active {
  background-color: #e6e6e6 !important;
}

input {
    font-size: 14px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    margin-right: 24px !important;
    font-size: 14px;
}

/* .mat-dialog-container {
    min-width: 400px !important;
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
} */

/* .mat-dialog {
    width: 100%;
} */

mat-label {
    color: #0064a6
}

::ng-deep .mat-datepicker-toggle-default-icon {
    stroke: $primary !important;
}


::ng-deep .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: $primary !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $keycolor;
}


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $keycolor;
}

.mat-radio-outer-circle {
  border-color: $mediumgrey;

}

.mat-radio-button {
    padding: 5px;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    background-color: $lightblue;
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
}

.mat-calendar-body .mat-calendar-body-cell-content {
    border-radius: 0px;
}

.mat-accent .mat-pseudo-checkbox-checked {
  background: $keycolor;
}


.mat-calendar-body-cell-content.mat-calendar-body-selected {
    border-color: $keycolor;
    background-color: inherit;
    color: inherit;
    font-weight: 600;
}

.mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
    color: $keycolor;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 7px 10px;
    border: $mediumgrey solid 1px;
}

.date.mat-form-field-appearance-legacy .mat-form-field-infix {
  border: none;
}

.mat-form-field-label-wrapper {
    margin-left: 7px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: inherit;
    height: 0px;
}

.mat-input-element {
    caret-color: inherit;
}

.mat-form-field.mat-focused .mat-form-field-label{
    //box-shadow: 0 0 8px $skyblue;
    // height:33px;
   // margin-top:-30x;
   color: $darkgrey;
   }

.mat-form-field.mat-focused.mat-form-field-label-wrapper {
    top: -1em;
    padding-top: .85375em;
}

.mat-form-field-ripple .mat-form-field-label-wrapper {
    color: inherit !important;
}

.date .mat-input-element {
  color: $keycolor;
  font-weight: 700;
}

//  .mat-form-field-underline:focus {
//     /*change color of underline*/
//    // box-shadow: 0 0 8px $skyblue;
//   }

.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: inherit !important;
  }

// .mat-radio-button.mat-accent.cdk-focused.cdk-mouse-focused {
//     //color: $keycolor;
// }

.mat-button-toggle-group-appearance-standard {
  border:none;
}

.mat-button-toggle-appearance-standard{
  // border: none !important;
  color: $keycolor;
  background-color: $lightgrey;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: $white;
  line-height: 36px;
  // background-color: $grey;
}

.mat-button-toggle-checked {
  background-color: $keycolor;
}

button.mat-button-toggle-button {
  min-width: 95px;
}

.breadcrumb {
    height: 70px;
    width: 100%;
    text-align: left;
    background-color: $white;
    z-index: 100;
  }

  .selected{
    color:$dark;
  }

  .selectionArrow {
    width: 45px;
    float: left;
    position: absolute;
    transition-duration: 1s;
    top: 48px;
  }

  select {
    width: 170px;
    height: 30px;
    font-family: "Roboto", sans-serif;
  }


  .move-box {
    padding: 20px 10px;
    border-bottom: solid 1px $controlbargrey;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: $white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .move-box:last-child {
    border: none;
  }

  .list.cdk-drop-list-dragging .move-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.mat-tooltip{
  font-size:16px !important;
  white-space: pre-line;
}

.red-snackbar {
  background-color: $red;
}

.green-snackbar {
  background-color: $green;
}

.underline {
  text-decoration: underline;
}

.block {
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.paddingTop {
  padding-top: 15px;
}


.paddingRight {
  padding-right: 10px;
}

.bold {
  font-weight: 700;
}
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $primary !important;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $primary !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $primary !important;
  }

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: $primary !important;;
  }
  .red-snackbar {
    background: #F44336;
    color: white;
}
.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}
